asgiref==3.8.1

django==5.0.6

django-rest-passwordreset==1.4.1

djangorestframework==3.15.2

environs==11.0.0

gunicorn==22.0.0

marshmallow==3.21.3

mysql==0.0.3

mysql-connector-python==8.4.0

mysqlclient==2.2.4

packaging==24.1

python-dotenv==1.0.1

sqlparse==0.5.0

tzdata==2024.1